[submodule "modules/eminent"]
	path = modules/eminent
	url = git@github.com:guotsuan/eminent.git
[submodule "modules/shifty"]
	path = modules/shifty
	url = git://github.com/cdump/awesome-shifty
[submodule "modules/vicious"]
	path = modules/vicious
	url = git@github.com:Mic92/vicious.git
[submodule "modules/lain"]
	path = lain
	url = git@github.com:copycat-killer/lain.git
